<div class='charts-line'>
  <div class='charts-line__wrapper'>
    <div class='charts-line__container'>
      <strong *ngIf="dataset.title" class="charts-line__title" [innerHTML]="dataset.title" ></strong>
      <app-charts-line-graph
        *ngIf="(dataset.data && dataset.data.length > 0)"
        [data]='dataset.data'
        [title]='dataset.title'
        [startDate]='dataset.startDate'
        [endDate]='dataset.endDate'
        [minValue]='dataset.minValue'
        [maxValue]='dataset.maxValue'
        [xAxisLabel]='dataset.xAxisLabel'
        [yAxisLabel]='dataset.yAxisLabel'
        [filters]='filtersDispatcher'
    ></app-charts-line-graph>
    </div>
    <div *ngIf="(!dataset.data || dataset.data.length === 0)" class='charts-line__nodata'>No data available</div>
    <app-charts-legend *ngIf="(legend && legend.captions.length > 0) && !(!dataset.data || dataset.data.length === 0)"
      [header]="legend.header"
      [captions]="legend.captions"
      (clickEvent)="filterChart($event)"
      [activeClass]="'disabled'"
    ></app-charts-legend>
  </div>
</div>
