/* Status colors: ok, warning, alarm */
$color-status-green: #00875A;
$color-status-yellow: #FFC414;
$color-status-red: #CC0033;

/* Colors for active assets */
$color-royal-blue: #004EA3;
$color-default-active: #CCE0F5;
$color-lightsky-blue: #A5D2FF;
$color-azure-white: #F1F6FA;

/* Colors for selections */
$color-selected-blue: #0066CC;
$color-selected-black: #191919;
$color-default-hover: #EFEFEF;

/* General purpose colors for text */
$color-black: #333333;
$color-dim-gray: #4D4D4D;
$color-gray: #737373;
$color-dark-gray: #8D8D8D;
$color-silver: #BABABA;
$color-light-gray: #D3D3D3;
$color-gainsboro: #E8E8E8;

/* Background colors */
$color-snow: #FAFAFA;
$color-white: #FFFFFF;

/* General purpose colors */
$color-purple: #530559;
$color-vivid-violet: #8B0E8E;
$color-steel-blue: #09647A;
$color-cerulean: #058CCF;
$color-sea-green: #0F7A49;
$color-caribbean-green: #05AD75;
$color-bloody-red: #C50200;
$color-red-orange: #D35500;
$color-orange: #F27314;
$color-teal-blue: #1E8787;
$color-dark-turquoise: #27B6C1;
