@import 'colors';

/* @font-face {
  font-family: "RobotoLight";
  src: url("/assets/fonts/Roboto-Light.ttf") format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: bold;
} */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


/* Font Weights */
$fw-regular: 400;
$fw-medium: 500;

/* Font sizes */
$fs-huge: 24px;
$fs-large: 20px;
$fs-bigger: 18px;
$fs-big: 16px;
$fs-normal: 14px;
$fs-small: 12px;
