.mat-dialog-content {
  .mat-expansion-panel {
    .mat-expansion-panel-body {
      .mat-grid-list.grid-device-info {
        margin: 0;
        padding: 0;
        .mat-figure {
          margin: 0;
          padding: 0;
        }
      }

      .mat-grid-tile .mat-figure {
        align-items: left;
        justify-content: left;
      }

      .content-group {
        padding: 24px;
      }

      .mat-divider {
        border-top-color: #d3d3d3;
      }

      .input-no-underline .mat-input-underline {
        display: none;
      }

      .mat-form-field {
        font-size: 1.14em;
      }

      .mat-input-suffix {
        font-size: 1.7em;
      }

      .mat-radio-button {
        width: 96%;
        height: 48px;
        padding-left: 24px;
        padding-right: 24px;
        border-bottom: 1px solid #d3d3d3;

        &.mat-radio-checked {
          background-color: $color-default-active;
        }

        &:hover {
          background-color: $color-default-hover;
        }

        .mat-radio-label {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .mat-expansion-panel.select-panel {
    app-reports-create-devices-table {
      height: 100%;
    }
  }

  .mat-expansion-panel.additional-criteria {
    .list-empty {
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .fetching {
      top: 15px;

      .mat-spinner {
        margin: 24px auto;

        circle {
          stroke: $color-selected-blue !important;
        }
      }
    }
  }

  .mat-expansion-panel.configuration-panel {
    .list-empty {
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
}
