@import 'colors';
@import 'text';
@import 'variables';

* {
  outline: none;
}
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: $fs-normal;
  color: $color-black;
  background-color: $color-azure-white;
}

.content-wrapper {
  margin: 20px auto;
  width: 90%;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
  }
}

.grid-item {
  display: inline-grid;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 1024px;

  .mat-drawer-container {
    background-color: $color-azure-white;
  }
}

h3 {
  font-size: 20pt;
}

.flex-spacer {
  flex: 1 1 auto;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
.icon {
  display: inline-block;
  width: 1em !important;
  height: 1em !important;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  min-width: 1em;
  color: rgba(0, 0, 0, .54);
}

.d-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.full-screen {
  max-width: none !important;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
}

.anchor-button {
  padding: 0;
  color: $color-selected-blue;
  cursor: pointer;
  margin-left: auto;
}

.mat-raised-button + .mat-raised-button {
  margin-left: 24px !important;
}

.mat-raised-button {
  min-width: 180px !important;
  min-height: 36px !important;
  border: 1px solid $color-silver !important;
  border-radius: $border-radius-base !important;

  &.mat-primary {
    background: $color-selected-blue;
    color: $color-white !important;
    border-color: transparent !important;
  }
}

.mat-raised-button[disabled][disabled] {
  background-color: $color-snow;
  border-color: $color-default-hover !important;
  color: $color-silver;

  &.mat-primary {
    background: $color-light-gray;
    color: $color-default-hover !important;
  }
}

.mat-primary .mat-slider-thumb, .mat-primary .mat-slider-thumb-label, .mat-primary .mat-slider-track-fill {
  background-color: $color-selected-blue;
}

.app-generic-nav {
  width: 100%;
  background-color: $color-white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .mat-tab-links {
    border: none;
  }

  .mat-ink-bar {
    height: 3px;
    background-color: $color-selected-blue !important;
  }

  &.app-generic-nav-centered .mat-tab-nav-bar {
    display: flex;
    justify-content: center;
  }

  .mat-tab-nav-bar {
    border: none;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1024px) {
      width: 862px;
    }
    @media screen and (min-width: 1025px) and (max-width: 1299px) {
      width: 860px;
    }
    @media screen and (min-width: 1300px) {
      width: 1130px;
    }
  }

  .mat-tab-link {
    opacity: 1;
    color: rgba(0, 0, 0, .87);
    height: 48px;
    padding: 0 0 10px 0;
    min-width: 120px;
    align-items: flex-end;

    &:focus {
      background-color: transparent !important;
    }

    &.mat-tab-label-active {
      color: $color-selected-blue;
      opacity: 1;
      font-size: $fs-big;
      transition: all 0.1s ease-in;
    }
  }

  .mat-ink-bar {
    background-color: $color-selected-blue;
  }
}

.mat-card {
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, .1) !important;
}

.mat-focused .mat-form-field-label {
  color: $color-selected-blue;
}

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  color: $color-white;
}

.mat-toolbar.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary,
.mat-form-field-ripple,
.mat-radio-button.mat-primary .mat-radio-inner-circle,
.mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: $color-selected-blue;
}

.mat-radio-checked .mat-radio-inner-circle {
  transform: scale(.25) !important;
}

.mat-radio-outer-circle {
  transform: scale(.8);
}

.mat-radio-button .mat-radio-label-content {
  padding-left: 2vw;
}

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: $color-selected-blue;
}

.secondary-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.cdk-overlay-dark-backdrop {
  background-color: #000000;
  opacity: 0.7 !important;
}

.mw-50 {
  max-width: 50px;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: $color-snow;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: $color-selected-blue;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-ripple-element {
  background-color: rgba(0, 102, 204, .12);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(0, 102, 204, .12);
}

.mat-option.mat-selected:not(.mat-option-disabled) {
  color: rgba(0, 0, 0, 0.87) !important;
}

.mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background-color: $color-selected-blue !important;
}

.mat-calendar-body-selected {
  background-color: $color-selected-blue !important;
}

.mat-datepicker-toggle-active {
  color: $color-selected-blue !important;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 0;
}
