<mat-grid-list cols="3" rowHeight="64px" [formGroup]="dateRangeForm">
  <mat-grid-tile>
    <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'never'" [ngClass]="{'datepicker-open': fromPicker.opened}">
      <input [value]="from" i18n-placeholder="@@reports-create-screen.date-from" matInput [matDatepicker]="fromPicker" (focus)="onFromInputFocus(fromPicker)" placeholder="From" formControlName="fromPicker"
             (dateInput)="emitValidity()" (keydown.Tab)="onTabAway(fromPicker)" (keydown.Shift.Tab)="onTabAway(fromPicker)" data-test-id="date-range-from" #fromInput>
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker (opened)="onOpenFromCalendar()" (closed)="onCloseFromCalendar()" (selectedChanged)="emitValidity()"></mat-datepicker>
      <mat-error i18n="@@reports-create-screen.field-required" *ngIf="dateRangeForm.hasError('required', ['fromPicker'])">This field is required</mat-error>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'never'" [ngClass]="{'datepicker-open': toPicker.opened}">
      <input [value]="to"  i18n-placeholder="@@reports-create-screen.date-to" matInput [matDatepicker]="toPicker" (focus)="onToInputFocus(toPicker)" placeholder="To" [min]="from" formControlName="toPicker"
             (dateInput)="emitValidity()" (keydown.Tab)="onTabAway(toPicker)" (keydown.Shift.Tab)="onTabAway(toPicker)" data-test-id="date-range-to" #toInput>
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker (opened)="onOpenToCalendar()" (closed)="onCloseToCalendar()" (selectedChanged)="emitValidity()"></mat-datepicker>
      <mat-error i18n="@@reports-create-screen.field-required" *ngIf="dateRangeForm.hasError('required', ['toPicker'])">This field is required</mat-error>
      <mat-error i18n="@@reports-create-screen.invalid-date" *ngIf="dateRangeForm.hasError('matDatepickerMin', ['toPicker'])">Invalid date</mat-error>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
