@import '../../../../../../assets/styles/text';

app-reports-create-date-range-selector {
  padding: 24px;

  .datepicker-open {

    .mat-input-element {
      caret-color: #3f51b5;
    }

    .mat-form-field-label{
      color: #3f51b5;
    }

    .mat-form-field-underline {
      span {
        background-color: $color-selected-blue;
      }
    }

    .mat-error {
      display: none;
    }
  }

  .mat-grid-list {
    margin-top: 24px;
    margin-bottom: 24px;

    .mat-figure {
      margin-left: 24px;
      margin-right: 24px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
