<div class="charts-levey-jennings">
  <h4 *ngIf="title" class="levey-jennings__title" [innerHTML]="title"></h4>
  <div class="charts-levey-jennings__container" *ngIf="!noData">
    <app-charts-levey-jennings-graph
      [data]='data'
      [xAxisLabel]='xAxisLabel'
      [yAxisLabel]='yAxisLabel'
      [controlMean]='controlMean'
      [upperLimit]='upperLimit'
      [lowerLimit]='lowerLimit'
      [upperScale]='upperScale'
      [lowerScale]='lowerScale'
      [maxMeasurementScale]='maxMeasurementScale'
      [minMeasurementScale]='minMeasurementScale'
      [filters]='filtersDispatcher'
    ></app-charts-levey-jennings-graph>
  </div>
  <div *ngIf="noData" class='charts-levey-jennings__nodata'>No data available</div>
  <app-charts-legend
    *ngIf="!noData && legend.captions.length > 0"
    [header]="legend.header"
    [captions]="legend.captions"
    [activeClass]="'disabled'"
    (clickEvent)="filterChart($event)"
  ></app-charts-legend>
</div>