<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item" *ngIf="envName==='dev'" >
      <a [routerLink]="'/'" routerLinkActive="navigation__link--active" class="navigation__link" [routerLinkActiveOptions]="{exact:
        true}">
        <app-svg-icon svgIcon="HOME" class="navigation__icon"></app-svg-icon>
        <span class="navigation__label" i18n>Dashboard</span>
      </a>
    </li>
    <li class="navigation__item">
      <a [routerLink]="'/reports'" routerLinkActive="navigation__link--active" class="navigation__link">
        <app-svg-icon svgIcon="REPORTS" class="navigation__icon"></app-svg-icon>
        <span class="navigation__label" i18n>Reports</span>
      </a>
    </li>
    <li class="navigation__item" *ngIf="!isProduction">
      <a [routerLink]="'/playground'" routerLinkActive="navigation__link--active" [routerLinkActiveOptions]="{exact:
        true}" class="navigation__link">
        <app-svg-icon svgIcon="BIOCHEMISTRY" class="navigation__icon"></app-svg-icon>
        <span class="navigation__label">Playground</span>
      </a>
      <ul class="navigation__sublist">
        <li class="navigation__item">
          <a [routerLink]="'/playground/gauges'" routerLinkActive="navigation__link--active" class="navigation__link">
            <app-svg-icon svgIcon="QC" class="navigation__icon"></app-svg-icon>
            <span class="navigation__label">Gauges Chart</span>
          </a>
        </li>
        <li class="navigation__item">
          <a [routerLink]="'/playground/line'" routerLinkActive="navigation__link--active" class="navigation__link">
            <app-svg-icon svgIcon="QC" class="navigation__icon"></app-svg-icon>
            <span class="navigation__label">Line Chart</span>
          </a>
        </li>
        <li class="navigation__item">
          <a [routerLink]="'/playground/pie'" routerLinkActive="navigation__link--active" class="navigation__link">
            <app-svg-icon svgIcon="QC" class="navigation__icon"></app-svg-icon>
            <span class="navigation__label">Pie Chart</span>
          </a>
        </li>
        <li class="navigation__item">
          <a [routerLink]="'/playground/levey-jennings'" routerLinkActive="navigation__link--active" class="navigation__link">
            <app-svg-icon svgIcon="QC" class="navigation__icon"></app-svg-icon>
            <span class="navigation__label">Levey-Jennings Chart</span>
          </a>
        </li>
        <li class="navigation__item">
          <a [routerLink]="'/playground/cigarette'" routerLinkActive="navigation__link--active" class="navigation__link">
            <app-svg-icon svgIcon="QC" class="navigation__icon"></app-svg-icon>
            <span class="navigation__label">Cigarette Chart</span>
          </a>
        </li>
        <li class="navigation__item">
          <a [routerLink]="'/playground/icons'" routerLinkActive="navigation__link--active" class="navigation__link">
            <app-svg-icon svgIcon="SHOW" class="navigation__icon"></app-svg-icon>
            <span class="navigation__label">SVG Icon Set</span>
          </a>
        </li>
      </ul>
    </li>  </ul>

  <div class="navigation__version" *ngIf="!isProduction">
      ver. {{ version }}
      <span class="navigation__environment navigation__environment--{{envName}}">{{ envName }}</span>
    </div>
</nav>