@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/text';

:host {
  width: 100%;
}

.login {

  width: auto;
  min-width: initial;
  padding: 2em 3.5em;

  &__bg {
    //previous image https://images.unsplash.com/photo-1491299461284-6aa083937f71?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bfdae99c038ff0388856b0b94473e831&auto=format&fit=crop&w=1350&q=80
    background-image: url("https://images.unsplash.com/photo-1444664361762-afba083a4d77?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2ee904be5319359af7ff0ba0c116a895&auto=format&fit=crop&w=1951&q=80");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__card {
    padding: 2em 3.5em;
  }
  &__logo{
    width: 10em;
    margin: 1em;
    color: $color-royal-blue;
  }
}