<div class="login__bg">
  <div class="login__container">
    <mat-card class="login__card">
      <app-svg-icon svgIcon="ROCHE" class="login__logo"></app-svg-icon>
      <mat-card-content>
        <button id="btnLogin" [disabled]="loading" mat-raised-button color="primary" class="login__button" (click)="logIn()">Login</button>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>