<div class="content-wrapper">
  <mat-card class="playground">
    <mat-card-title>Processing Time Trends</mat-card-title>
    <div class="playground__chart">
      <app-charts-line
        [dataset]='dataset'
        [legend]='legend'
      ></app-charts-line>
    </div>
  </mat-card>
</div>