<div class="analytics">
  <form #f="ngForm" (ngSubmit)="applyDateRange(f)" novalidate>
    <div class="analytics__filter">
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker_sd" placeholder="Choose a date" name="startDate" readonly="readonly" [(ngModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker_sd"></mat-datepicker-toggle>
        <mat-datepicker #picker_sd></mat-datepicker>
        <mat-label>Start Date</mat-label>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker_ed" placeholder="Choose a date" name="endDate" readonly="readonly" [(ngModel)]="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker_ed"></mat-datepicker-toggle>
        <mat-datepicker #picker_ed></mat-datepicker>
        <mat-label>End Date</mat-label>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Apply</button>
    </div>
  </form>
  <router-outlet></router-outlet>
</div>