:host {
  width: 100%;
}

.analytics {
  width: 90%;
  margin: 24px;
  margin-left: auto;
  margin-right: auto;

  &__filter{
    &>*{
      margin-right: 24px;
      vertical-align: top;
    }
    &>button{
      margin-top: 10px;
    }
  }
}