:host {
  margin: 0 auto;
}

.charts-gauge-graph{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  font-size: 14px;
  @media (orientation: portrait) {
    padding-bottom: 100%;
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__tooltip {	
    position: absolute;
    text-align: center;
    padding: 5px 10px;
    box-sizing: border-box;
    font: .9em Roboto, sans-serif;
    border-radius: 2px;
    margin-top: -8px;
    background: rgba(30,30,30,.9);	
    border: 0px;
    pointer-events: none;
    color: #fff;
    transform: translate(0,33%);
    opacity: 0;
    transition: transform .125s ease-in-out, opacity .125s ease-in-out;

    /* Creates a small triangle extender for the tooltip */
    &--left:after {
      content: "";
      display: inline-block;
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid rgba(30,30,30,.9);	
      position: absolute;
      top: 100%;
      left: 5px;
      right: initial;
    }
    &--right:after {
      content: "";
      display: inline-block;
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid rgba(30,30,30,.9);	
      position: absolute;
      top: 100%;
      right: 5px;
      left: initial;
    }
  }
}