<div class="results_release">
  <nav mat-tab-nav-bar>
    <a id="btnUnreleasedResult" mat-tab-link
        [routerLink]="'list'"
        routerLinkActive #listLink="routerLinkActive"
        [active]="listLink.isActive">
      Unreleased Results
    </a>
    <a id="SearchBarcode" mat-tab-link
        [routerLink]="'search'"
        routerLinkActive #searchLink="routerLinkActive"
        [active]="searchLink.isActive">
      Search Barcode
    </a>
  </nav>

  <router-outlet></router-outlet>

  </div>