<div class="charts-cigarette-bar">
  <svg class="charts-cigarette-bar__container" #container></svg>
  <div class="charts-cigarette-bar__tooltip" matTooltip="Info about the action" #tooltip></div>
</div>