@import "../../../assets/styles/colors";

.sidenav {

  // container
  &__container {
    min-width: 1024px;
    box-sizing: border-box;
    &.mat-sidenav-container,
    &.mat-drawer-container {
      background-color: transparent;
    }
    &--logged{
      height: calc(100vh - 56px);
      margin-top: 56px;
    }
  }

  // sidenav
  &.mat-drawer {
    width: 15%;
    min-width: calc(1024px * 0.15);
    background: darken($color-azure-white, 3);
  }
  &--minified {
    width: 40px;
  }

  // content wrapper
  &__content {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &__container--logged
    &__content {
      margin-left: 15% !important;
  }

}