<mat-card>
	<mat-card-title>
		Claim's information	
	</mat-card-title>	
	<mat-spinner *ngIf="isLoading"></mat-spinner>
	<div *ngIf="!isLoading">		
		<mat-form-field style="width:100%">
			<input matInput placeholder="Claim code" [(ngModel)]="claimDetail.key" readonly />
		</mat-form-field>
		<mat-form-field style="width:100%">
			<input matInput placeholder="Update datetime" [(ngModel)]="claimDetail.updateDateTime" readonly />
		</mat-form-field>
	</div>
</mat-card>