<div class="charts-legend"
     [ngClass]="[inColumns ? 'charts-legend--columns' : '' , highColumns ? 'charts-legend--3columns' : '']">
  <h4 *ngIf="header" class="charts-legend__header" [innerHTML]="header"></h4>
  <ul class="charts-legend__list"
      [ngStyle]="{'height.px': listHeight || 40}">
    <ng-template ngFor let-item [ngForOf]="captions" let-i="index">
      <li class="charts-legend__item"
        (click)="onClick(item, $event)"
        (mouseenter)="onMouse(item, $event)"
        (mouseleave)="onMouse(item, $event)"
        [ngClass]="[ activeClass && active[item.id] ? 'charts-legend__item--' + activeClass : '',
                     isClickable ? 'charts-legend__item--clickable' : '']" >
        <span class="charts-legend__badge" [ngStyle]="{'background-color': item.color }"></span>
        <span class="charts-legend__caption">{{item.caption}}</span>
      </li>
    </ng-template>
  </ul>
</div>