:host {
  width: 100%;
}

.playground{
  margin: 20px auto;

  &__container {
    display: flex;
    flex-flow: row nowrap;
  }

  &__chart {
    display: flex;
    flex: 1 1 20%;
    flex-flow: row;
    width: 20%;
    box-sizing: border-box;
  }
}