<div class="content-wrapper">
  <mat-card class="playground">
    <mat-card-title>Gauge Chart</mat-card-title>
    <div class="playground__container">
      <ng-template ngFor let-item [ngForOf]="dataset" let-i="index">
        <div class="playground__chart">
          <app-charts-gauge
            [title]='item["title"]'
            [total]='item["total"]'
            [sections]='item["sections"]'
            [halfCircle]='item["halfCircle"]'
          ></app-charts-gauge>
        </div>
      </ng-template>
    </div>
  </mat-card>
</div>