<mat-card>
	<mat-card-title>
		User's information		
			<button mat-button (click)="save()">
			<mat-icon>save</mat-icon>
		</button>
	</mat-card-title>	
	<mat-spinner *ngIf="isLoading"></mat-spinner>
	<div class="grid-container" *ngIf="!isLoading">
		<div class="grid-item">
			<mat-form-field>
				<input matInput placeholder="Login" [(ngModel)]="login" readonly />
			</mat-form-field>
		</div>
		<div class="grid-item">
			<table mat-table [dataSource]="dataSource" style='width:100%'>
				<ng-container matColumnDef="isChecked">
			    	<th mat-header-cell *matHeaderCellDef></th>
			    	<td mat-cell *matCellDef="let element">
			    		<mat-checkbox color="primary" [(ngModel)]="element.isChecked"></mat-checkbox>
			    	</td>
			  	</ng-container>
				<ng-container matColumnDef="key">
			    	<th mat-header-cell *matHeaderCellDef>Key</th>
			    	<td mat-cell *matCellDef="let element">
			    		{{element.key}}
			    	</td>
			  	</ng-container>		
				<ng-container matColumnDef="value">
			    	<th mat-header-cell *matHeaderCellDef>Value</th>
							<td mat-cell *matCellDef="let element">
								<input matInput placeholder="Login" [(ngModel)]="element.value" />
							</td>
			  	</ng-container>	
            	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>	  	
			</table>
		</div>
	</div>
</mat-card>