.charts-pie{
  width: 100%;
  margin: 0px auto;
  &__title {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  &__container {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    max-width: 780px;
    margin-right: -4px;
  }
  &__legend {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    margin-left: 2%;
  }
  &__nodata{
    display: block;
    font-size: 2.8em;
    text-align: center;
    padding: 1.4em 0;
    width: 100%;
  }
}