<h2 mat-dialog-title>Add client</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-dialog-content *ngIf="!isLoading">
	<mat-form-field>		
		<mat-chip-list #chipList >
			<mat-chip *ngFor="let callback of callbacks" [removable]="true" (removed)="handleRemove(callback)">
				{{callback}}
				<mat-icon matChipRemove>cancel</mat-icon>
			</mat-chip>
			<input matInput placeholder="New callback" #callbackInput
      			[matChipInputFor]="chipList" 
      			[matChipInputAddOnBlur]="false" (matChipInputTokenEnd)="handleAddCallback($event)" />
		</mat-chip-list>		
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="handleAddClient()">Add</button>
</mat-dialog-actions>