<mat-card>
	<mat-card-title>
		OPENID clients
		<button mat-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="handleRemoveClients()">Remove the selected clients</button>
			<button mat-menu-item (click)="handleAddClient()">Add new client</button>
		</mat-menu>
	</mat-card-title>
	<mat-spinner *ngIf="isLoading"></mat-spinner>
	<div *ngIf="!isLoading" class="mat-elevation-z8 full-width">		
		<table mat-table [dataSource]="dataSource" style='width:100%'>
			<ng-container matColumnDef="isChecked">
		    	<th mat-header-cell *matHeaderCellDef></th>
		    	<td mat-cell *matCellDef="let element">
		    		<mat-checkbox color="primary" [(ngModel)]="element.isChecked"></mat-checkbox>
		    	</td>
		  	</ng-container>
			<ng-container matColumnDef="logo_uri">
		    	<th mat-header-cell *matHeaderCellDef></th>
		    	<td mat-cell *matCellDef="let element">
		    		<img src="{{element.logo_uri}}" style="width:50px;" />
		    	</td>
		  	</ng-container>
			<ng-container matColumnDef="client_name">
		    	<th mat-header-cell *matHeaderCellDef>Client name</th>
		    	<td mat-cell *matCellDef="let element">
		    		{{element.client_name}}
		    	</td>
		  	</ng-container>
			<ng-container matColumnDef="application_type">
		    	<th mat-header-cell *matHeaderCellDef>Application type</th>
		    	<td mat-cell *matCellDef="let element">
		    		{{element.application_type}}
		    	</td>
		  	</ng-container>
			<ng-container matColumnDef="update_datetime">
		    	<th mat-header-cell *matHeaderCellDef>Update datetime</th>
		    	<td mat-cell *matCellDef="let element">
		    		{{element.update_datetime}}
		    	</td>
		  	</ng-container>
			<ng-container matColumnDef="link">
		    	<th mat-header-cell *matHeaderCellDef></th>
		    	<td mat-cell *matCellDef="let element">	
			  		<button mat-icon-button (click)="navigate(element.link)">
			    		<mat-icon>visibility</mat-icon>
			  		</button>
		    	</td>
		  	</ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<mat-paginator [length]="length" [pageIndex]="page" [pageSize]="pageSize" (page)="onChangePage($event)"></mat-paginator>
	</div>
</mat-card>