<div class="content-wrapper">
    <mat-card class="dashboard">
      <mat-card-title>Supression Rates</mat-card-title>
      <div class="dashboard__container">
        <ng-template ngFor let-item [ngForOf]="dataset" let-i="index">
          <div class="dashboard__chart">
            <app-charts-gauge
              [title]='item["title"]'
              [total]='item["total"]'
              [sections]='item["sections"]'
              [halfCircle]='item["halfCircle"]'
            ></app-charts-gauge>
          </div>
        </ng-template>
      </div>
    </mat-card>
  </div>