@import '../../../../../../assets/styles/text';

.app-show-views {
  
  .mat-radio-label {
    width: 100%;
  }

  .mat-radio-container {
    position: absolute !important;
    right: 25px;
    top: 15px;
    color: $color-selected-blue !important;
  }

  .mat-radio-outer-circle {
    right: 0;
    position: absolute;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $color-selected-blue !important;
  }

  .mat-radio-inner-circle {
    background-color: $color-selected-blue !important;
  }

  .mat-radio-button .mat-radio-label-content {
    padding-left: 0 !important;
  }

  .mat-optgroup-label {
    background-color: $color-light-gray;
  }

  .mat-option-text {
    .checkboxAll {
      left: 10px;
      top: 0;
      width: 100% !important;
      position: absolute;
    }
  }
}

app-show-views {
  .mat-form-field {
    text-align: right !important;
    text-decoration: none;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-select-placeholder,
  .mat-select-arrow {
    color: $color-selected-blue !important;
  }
}
