<mat-form-field [floatLabel]="'never'">
  <mat-select i18n-placeholder="@@qc-screen.show-views" panelClass="app-show-views" placeholder="Show views" data-test-id="show-views"> <!--[formControl]="viewControl">-->
    <mat-option (click)="showGraph()">
      <mat-radio-button i18n="@@qc-screen.show-graph" [checked]="isCurrentGraph()" data-test-id="show-as-graph">Show as graph</mat-radio-button>
    </mat-option>
    <mat-option (click)="showTable()">
      <mat-radio-button i18n="@@qc-screen.show-list" [checked]="isCurrentTable()" data-test-id="show-as-table">Show as list</mat-radio-button>
    </mat-option>
  </mat-select>
</mat-form-field>
