<div class="content-wrapper">
  <mat-card class="playground">
    <mat-card-title>QC Data</mat-card-title>
    <div class="playground__chart">
      <app-chartslevey-jennings
        [controlLimit]="dataset.controlLimit"
        [controlMean]="dataset.controlMean"
        [legend]="legend"
        [standardDeviation]="dataset.standardDeviation"
        [title]="dataset.title"
        [data]='dataset.data'
        [xAxisLabel]="dataset.xAxisLabel"
        [yAxisLabel]="dataset.yAxisLabel"
      ></app-chartslevey-jennings>
    </div>
  </mat-card>
</div>