<mat-sidenav-container class="sidenav__container" [ngClass]="[(isLoggedIn$ | async) ? 'sidenav__container--logged' : '']">

  <mat-sidenav
    class="sidenav"
    mode="side"
    [opened]="isOpen"
    fixedTopGap="64"
    fixedInViewport
    *ngIf="isLoggedIn$ | async"
  >
    <app-navigation></app-navigation>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav__content">
    <ng-content class="sidenav__outlet"></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>