@import "../../../assets/styles/colors";

.sidenav {

  // container
  &__container {
    min-width: 1024px;
    box-sizing: border-box;
    &.mat-sidenav-container,
    &.mat-drawer-container {
      background-color: transparent;
    }
    &--logged{
      margin-top: 64px;
      height: calc(100vh - 64px);
    }
  }

  // sidenav
  &.mat-drawer {
    width: 15%;
    min-width: calc(1024px * 0.20);
    background: darken($color-azure-white, 3);
    
    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(black, .3);
    }
  }

  &--minified {
    width: 40px;
  }

  // content wrapper
  &__content {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }

}