.processing-time{
  width: 90%;
  margin: 0 auto;
  padding: 24px 5%;
  
  &__trends,
  &__chart {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
  }
  &__trends {
    padding-top: 48px;
  }
}