<div class="processing-time"  *ngIf="!loading || !loadingTrends">
  <div class="processing-time__chart" *ngIf="!loading">
    <app-charts-cigarette
      [legend]='dataset["legend"]'
      [data]='dataset["data"]'
      [xAxisLabel]='dataset["xAxisLabel"]'
    ></app-charts-cigarette>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <div class="processing-time__trends" *ngIf="!loadingTrends">
    <app-charts-line
      [dataset]='datasetTrends'
      [legend]='legendTrends'
    ></app-charts-line>
  </div>
  <mat-progress-bar *ngIf="loadingTrends" mode="indeterminate"></mat-progress-bar>

</div>

<div class="processing-time" *ngIf="loading && loadingTrends">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>