<div class="content-wrapper">
  <mat-card class="playground">
    <mat-card-title>Pie Chart</mat-card-title>
    <div class="playground__chart">
      <app-charts-pie
        [legend]='dataset["legend"]'
        [data]='dataset["data"]'
        [isDonut]='dataset["isDonut"]'
        [title]='dataset["title"]'
        [legendInColumns]='dataset["legendInColumns"]'
      ></app-charts-pie>
    </div>
  </mat-card>
</div>