@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/text";

.navigation {
  width: 100%;

  &__title{
    padding: 12px 16px;
    margin: 1em .5rem 0;
    box-sizing: border-box;
    color: $color-black;
  }

  &__list,
  &__sublist {
    list-style: none;
    padding: 0;
    margin: 0 .5rem;
  }
  &__sublist {
    margin: 0 0 0 1.2rem;
  }

  &__item {
    margin: 0;
    font-size: $fs-normal;
    @media(max-width: 1280px) {
      text-align: center;
      font-size: $fs-small;
    }
  }

  &__nolink {
    display: block;
    padding: 12px 16px;
    box-sizing: border-box;
  }

  &__link {
    display: block;
    text-decoration: none;
    padding: 12px;
    margin: 0 4px;
    box-sizing: border-box;
    border-radius: $border-radius-small;
    transition: font-weight .065s ease-in;
    &:link,
    &:visited,
    &:focus,
    &:hover {
      color: $color-black;
    }
    &:hover:not(&--active) {
      background-color: rgba($color-default-active, .25);
    }
    &--active {
      font-family: "Roboto";
      font-weight: bold;
      color: $color-royal-blue;
      background-color: rgba($color-lightsky-blue, .25);
      &:visited,
      &:focus {
        color: $color-royal-blue;
      }
    }
  }
  &__icon{
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    
    @media(max-width: 1280px) {
      display: block;
      width: 100%;
      height: 36px;
    }
  }
  &__label{
    //margin-left: 12px;
    @media(max-width: 1280px) {
      margin-left: 0;
    }
  }

  &__version {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    color: $color-black;
    font-weight: 200;
    text-align: center;
  }
  &__environment {
    display: inline-block;
    color: rgba($color-black, .5);
    font-weight: 400;
    font-size: 12px;
    border-radius: 8px;
    padding: 0 5px;
    &--dev {
      background-color: chartreuse;
    }
    &--test {
      background-color: orange;
    }
  }
}