<ng-template ngFor let-navItem [ngForOf]="mainNavigationItems | async" let-i="index">
  <nav class="navigation">
    <h2 class="navigation__title">
      <span class="navigation__label" i18n>{{navItem.title}}</span>
    </h2>
    <app-navigation-menu [navItem]="navItem"></app-navigation-menu>
  </nav>
</ng-template>