<ul class="navigation__sublist" *ngIf="navItem.children">
  <ng-template ngFor let-navSubItem [ngForOf]="navItem.children" let-i="index">
    <li class="navigation__item">
      <a *ngIf="!navSubItem.children || !navSubItem.children.length"
         routerLinkActive="navigation__link--active"
         [routerLinkActiveOptions]="{exact: true}"
         class="navigation__link"
         [routerLink]="previousPath + '/' + navSubItem.path">
        <span class="navigation__label" i18n>{{navSubItem.title}}</span>
      </a>
      <span *ngIf="navSubItem.children && navSubItem.children.length"
         class="navigation__nolink">
        <span class="navigation__label" i18n>{{navSubItem.title}}</span>
      </span>
      <app-navigation-menu [navItem]="navSubItem" [previousPath]="previousPath + '/' + navSubItem.path"></app-navigation-menu>
    </li>
  </ng-template>
</ul>