@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/text";

.navigation {
  width: 100%;

  &__title{
    margin: 24px;
    padding: 0px;
    box-sizing: border-box;
    color: $color-black;
  }

  &__list,
  &__sublist {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin: 0 4px;
    font-size: $fs-normal;
  }

  &__nolink,
  &__link {
    display: block;
    text-decoration: none;
    padding: 12px 24px;
    margin-bottom: 2px;
    box-sizing: border-box;
    border-radius: $border-radius-small;
    transition: font-weight .065s ease-in;
    &:link,
    &:visited,
    &:focus,
    &:hover {
      color: $color-black;
    }
    &:hover:not(&--active) {
      background-color: $color-default-active;
    }
    &--active {
      font-family: "Roboto";
      font-weight: bold;
      color: $color-royal-blue;
      background-color: $color-lightsky-blue;
      &:visited,
      &:focus {
        color: $color-royal-blue;
      }
    }
  }

  &__nolink {
    margin-bottom: 0;
    color: rgba($color-black, .5);
    font-weight: bold;
    &:hover {
      color: rgba($color-black, .5);
      background-color: transparent;
    }
  }

  &__sublist &__sublist &__link {
    padding-left: 36px;
  }

  &__icon{
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    
    @media(max-width: 1280px) {
      display: block;
      width: 100%;
      height: 36px;
    }
  }
  &__label{
    //margin-left: 12px;
    @media(max-width: 1280px) {
      margin-left: 0;
    }
  }

  &__version {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    color: $color-black;
    font-weight: 200;
    text-align: center;
  }
  &__environment {
    display: inline-block;
    color: rgba($color-black, .5);
    font-weight: 400;
    font-size: 12px;
    border-radius: 8px;
    padding: 0 5px;
    &--dev {
      background-color: chartreuse;
    }
    &--test {
      background-color: orange;
    }
  }
}