@import '../../../../../../assets/styles/text';

.results-graph {
  display: inline-block;
  width: 90%;
  margin: 0 auto;
  padding: 20px 5%;
  
  &__chart {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
  }
  
  &__footer {
    background-color: $color-default-hover;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
  
    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
  
      .icon {
        font-size: 26px;
      }
      span {
        margin-right: 12px;
      }
    }
  }
  &__view-selector {
    height: 48px;
    background-color: transparent;
    margin: 0 0 0 auto;
  }
}
