<div class="results-graph">
  <div class="results-graph__chart" *ngIf="!loading">
    <app-charts-pie
      [legend]='dataset["legend"]'
      [data]='dataset["data"]'
      [isDonut]='true'
    ></app-charts-pie>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
<div class="results-graph__footer">
  <app-show-views class="results-graph__view-selector"></app-show-views>
</div>

