@import "../../../assets/styles/colors";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: $color-white;
  padding-left: 12px;
  padding-right: 12px;
  height: 64px;
  color: $color-black;

  &__title {
    flex: 1 1 auto;
  }
  &__navigation {
    flex: 1 1 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    //background: red;
  }
  &__logout {
    flex: 1 1 auto;
    text-align: right;
  }
  &__username {
    font-size: 14px;
    margin-right: 12px;
  }
  &__logo {
    margin: 0 12px;
    height: 42px;
    width: 60px;
    color: $color-royal-blue;
  }
}

.navigation {
  &__item{
    display: inline-block;
    margin: 0 10px;
  }
}