<mat-toolbar *ngIf='isLoggedIn$ | async' class="header mat-elevation-z4">
  <div id="headerAdmin" class="header__title">
      <app-svg-icon svgIcon="ROCHE" class="header__logo"></app-svg-icon>
  </div>

  <ul class="header__navigation navigation">
    <li class="navigation__item" *ngIf="roles['administrator']">
      <a mat-button [routerLink]="'/administrator'" routerLinkActive="navigation__link--active" class="navigation__link" href="">Identity Server Admin</a>
    </li>
    <li class="navigation__item" *ngIf="roles['resultrelease']">
      <a mat-button [routerLink]="'/resultrelease'" routerLinkActive="navigation__link--active" class="navigation__link">Result Release</a>
    </li>
    <li class="navigation__item" *ngIf="roles['analytics']">
      <a mat-button [routerLink]="'/analytics'" routerLinkActive="navigation__link--active" class="navigation__link">Analytics</a>
    </li>
  </ul>

  <div class="header__logout">
      <span class="header__username">{{ name }}</span>
      <button id="btnLogout" mat-button (click)="logOut()" color="warn">Logout</button>
  </div>
</mat-toolbar>