<div class="detail">
  <dl class="detail__content">
      <ng-template ngFor let-prop [ngForOf]="itemProps" let-i="index">
        <dt class="detail__prop">{{ prop.key }}</dt>
        <dd class="detail__value" *ngIf="prop.key !== 'barcode'">{{ prop.value }}</dd>
        <dd class="detail__value" *ngIf="prop.key === 'barcode'">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="detail__form">
          <input matInput name="barcode" placeholder="{{barcode}}" [(ngModel)]="barcode" class="detail__input" autocomplete="off" (blur)="onSubmit(f)">
          <mat-progress-bar *ngIf="loading" mode="indeterminate" color="primary" class="detail__loading"></mat-progress-bar>
        </form>
        </dd>
      </ng-template>
    </dl>
</div>