.detail {

  &__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  &__prop,
  &__value {
    flex-basis: 30%;
    width: 30%;
    padding: .5% 2%;
    box-sizing: border-box;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 1em;
  }
  &__prop {
    flex-basis: 20%;
    width: 20%;
    font-weight: bold;
  }

  &__form {
    position: relative;
  }

  &__loading {
    position: absolute;
    top: 100%;
  }

  &__input {
    box-sizing: border-box;
    border-bottom: solid 1px rgba(0,0,0,.42);
    padding-bottom: 1px;
    transition: all .25s ease-in-out;

    &:focus,
    &:active{
      padding-bottom: 0px;
      border-bottom: solid 2px #0066CC;
    }
  }
}