<h2 mat-dialog-title>Add user</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-dialog-content *ngIf="!isLoading">
	<mat-form-field>
		<input type="text" [(ngModel)]="login" matInput placeholder="Login" />
	</mat-form-field>
	<mat-form-field>
		<input type="password" [(ngModel)]="password" matInput placeholder="Password" />
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="handleAddUser()">Add</button>
</mat-dialog-actions>