<mat-card>
	<mat-card-title>
		List of users
		<button mat-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="handleRemoveUsers()">Remove the selected users</button>
			<button mat-menu-item (click)="handleAddUser()">Add new user</button>
		</mat-menu>
	</mat-card-title>
	<mat-spinner *ngIf="isLoading"></mat-spinner>
	<div *ngIf="!isLoading" class="mat-elevation-z8 full-width">
		<table mat-table [dataSource]="dataSource" style='width:100%'>
			<ng-container matColumnDef="isChecked">
		    	<th mat-header-cell *matHeaderCellDef></th>
		    	<td mat-cell *matCellDef="let element">
		    		<mat-checkbox color="primary" [(ngModel)]="element.isChecked"></mat-checkbox>
		    	</td>
		  	</ng-container>
			<ng-container matColumnDef="login">
		    	<th mat-header-cell *matHeaderCellDef> Login </th>
		    	<td mat-cell *matCellDef="let element"> {{element.login}} </td>
		  	</ng-container>
			<ng-container matColumnDef="email">
		    	<th mat-header-cell *matHeaderCellDef> Email </th>
		    	<td mat-cell *matCellDef="let element"> {{element.email}} </td>
		  	</ng-container>
			<ng-container matColumnDef="name">
		    	<th mat-header-cell *matHeaderCellDef> Name </th>
		    	<td mat-cell *matCellDef="let element"> {{element.name}} </td>
		  	</ng-container>
			<ng-container matColumnDef="update_datetime">
		    	<th mat-header-cell *matHeaderCellDef> Update datetime </th>
		    	<td mat-cell *matCellDef="let element"> {{element.update_datetime}} </td>
		  	</ng-container>
			<ng-container matColumnDef="link">
		    	<th mat-header-cell *matHeaderCellDef></th>
		    	<td mat-cell *matCellDef="let element">		    		
			  		<button mat-icon-button (click)="navigate(element.link)">
			    		<mat-icon>visibility</mat-icon>
			  		</button>
		    	</td>
		  	</ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<mat-paginator [length]="length" [pageIndex]="page" [pageSize]="pageSize" (page)="onChangePage($event)"></mat-paginator>
	</div>
</mat-card>