<div class="content-wrapper reports-form">
  <mat-accordion>
    <mat-expansion-panel
      class="step"
      [expanded]="currentPanel === DEVICE_LIST_PANEL"
      (opened)="openPanel(DEVICE_LIST_PANEL)"
      hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="step__badge">1</span>
          <span class="step__label" i18n="@@reports-create-screen.devices">Devices</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-reports-form-filter-devices
        [inputValue]="filter.deviceType"
        (selectionEvent)="onSelectedDevices($event)"
        (validityEvent)="onDevicesValidity($event)">
      </app-reports-form-filter-devices>

      <mat-action-row>
        <button
          mat-button
          color="primary"
          (click)="nextPanel()"
          [disabled]="!isDevicesSelectionValid"
          i18n>
          Next
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel class="date-range-panel" [expanded]="currentPanel === DATE_RANGE_PANEL" (opened)="openPanel(DATE_RANGE_PANEL)"
      hideToggle="true" [disabled]="!isDevicesSelectionValid">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="step__badge">2</span>
          <span class="step__label" i18n="@@reports-create-screen.date-range">Date range</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-reports-form-filter-date-range
        [(fromDate)]="fromDate"
        [(toDate)]="toDate"
        (isValid)="onDateRangeValidity($event)">
      </app-reports-form-filter-date-range>

      <mat-action-row>
        <button
          mat-button
          color="basic"
          (click)="previousPanel()"
          i18n>
          Previous
        </button>
        <button
          mat-button
          color="primary"
          (click)="nextPanel()"
          [disabled]="!isDateRangeValid || !isDevicesSelectionValid"
          i18n>
          Next
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel class="site-criteria" [expanded]="currentPanel === SITE_CRITERIA_PANEL" (opened)="openPanel(SITE_CRITERIA_PANEL)"
      hideToggle="true" [disabled]="!isDevicesSelectionValid">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="step__badge">3</span>
          <span class="step__label" i18n="@@reports-create-screen.date-range">Site selection</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-reports-form-filter-sites
        [inputValues]="filter.sites"
        (selectionEvent)="onSelectedSites($event)"
        (validityEvent)="onSitesValidity($event)">
      </app-reports-form-filter-sites>

      <mat-action-row>
        <button
          mat-button
          color="basic"
          (click)="previousPanel()"
          i18n>
          Previous
        </button>
        <button
          mat-button
          color="primary"
          (click)="nextPanel()"
          [disabled]="!isDateRangeValid || !isDevicesSelectionValid || !isSitesSelectionValid"
          i18n>Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel class="additional-criteria" [expanded]="currentPanel === CRITERIA_FILTERS_PANEL" (opened)="openPanel(CRITERIA_FILTERS_PANEL)"
      hideToggle="true" [disabled]="!isDateRangeValid || !isDevicesSelectionValid || !isSitesSelectionValid">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="step__badge">4</span>
          <span class="step__label">Test types</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-reports-form-filter-test-types
        #criteria
        [inputValues]="filter.testTypes"
        (selectionEvent)="onSelectedCriteria($event)">
      </app-reports-form-filter-test-types>

      <mat-action-row>
        <button
          mat-button
          color="basic"
          (click)="previousPanel()"
          i18n>
          Previous
        </button>
        <button
          mat-button
          color="primary"
          (click)="createReport()"
          [disabled]="!isTestTypeSelected"
          i18n>
          Finish
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>