@import '../../../../../assets/styles/text';
@import '../../../../../assets/styles/colors';

app-reports-form {
  width: 100%;
}

.reports-form {
  padding: 0;
}

.mat-expansion-panel {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100;
    height: 100%;
    width: 0;
    transition: all .24s ease-in-out;
  }
  .step {
    &__badge {
      $font-weight: $fw-medium;
      font-size: $fs-normal;
      color: $color-white;
      background-color: $color-default-active;
      border-radius: 16px;
      height: 26px;
      min-width: 26px;
      margin-right: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__label {
      display: flex;
      align-self: center;
    }
  }
  // Expanded panel
  &.mat-expansion-panel-spacing {
    &:after{
      width: 6px;
      background: $color-selected-blue;
    }
    .step__badge {
      background-color: $color-selected-blue;
    }
  }
  // Disabled panel header
  .mat-expansion-panel-header[aria-disabled=true]{
    .step {
      &__badge {
        background-color: $color-light-gray;
      }
    }
  }
}

.table-container {
  table {
    border-collapse: collapse;
  }
}

.mat-progress-bar {
  width: 60%;
  margin: 24px auto;
}