/* Status colors: ok, warning, alarm */
$color-status-green: #00875A;
$color-status-yellow: #FFC414;
$color-status-red: #CC0033;

/* Colors for active assets */
$color-royal-blue: #004EA3;
$color-default-active: #CCE0F5;
$color-lightsky-blue: #A5D2FF;
$color-azure-white: #F1F6FA;

/* Colors for selections */
$color-selected-blue: #0066CC;
$color-selected-black: #191919;
$color-default-hover: #EFEFEF;

/* General purpose colors for text */
$color-black: #333333;
$color-dim-gray: #4D4D4D;
$color-gray: #737373;
$color-dark-gray: #8D8D8D;
$color-silver: #BABABA;
$color-light-gray: #D3D3D3;
$color-gainsboro: #E8E8E8;

/* Background colors */
$color-snow: #FAFAFA;
$color-white: #FFFFFF;