@import 'colors';
@import 'text';
@import 'variables';

* {
  outline: none;
}
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: $fs-normal;
  color: $color-black;
  background-color: $color-azure-white;
}

.wrapper {
  padding: 2rem;
  box-sizing: border-box;
}

.content-wrapper{
  width: 90%;
  margin: 20px auto;
  box-sizing: border-box;

  @media(min-width: 1280px) {
    width: 95%;
  }
}