<mat-grid-list cols="2" rowHeight="2:1.33" gutterSize="1em">
  <mat-grid-tile><app-accounts></app-accounts></mat-grid-tile>
  <mat-grid-tile><app-logins></app-logins></mat-grid-tile>
  <mat-grid-tile><app-scans></app-scans></mat-grid-tile>
  <mat-grid-tile><app-results-viewed></app-results-viewed></mat-grid-tile>
  <mat-grid-tile><app-notifications></app-notifications></mat-grid-tile>
  <mat-grid-tile><app-results-received></app-results-received></mat-grid-tile>
  <mat-grid-tile><app-whatsapp-joins></app-whatsapp-joins></mat-grid-tile>
  <mat-grid-tile><app-survey></app-survey></mat-grid-tile>
</mat-grid-list>
