<div class='charts-cigarette'>
  <div class='charts-cigarette__wrapper'>
    <ng-template ngFor let-item [ngForOf]="data" let-i="index">
      <div class='charts-cigarette__container'>
        <h4 *ngIf="item.title" class="charts-cigarette__title" [innerHTML]="item.title"></h4>
        <app-charts-cigarette-bar
          *ngIf="(item.sections && item.sections.length > 0)"
          [sections]='item.sections'
          [customScale]='customScale'
          [xAxisLabel]='xAxisLabel'
          [tooltipTrigger]='tooltipDispatcher'
        ></app-charts-cigarette-bar>
      </div>
      <div *ngIf="(!item.sections || item.sections.length === 0)" class='charts-cigarette__nodata'>No data available</div>
    </ng-template>
    <app-charts-legend *ngIf="(legend && legend.captions.length > 0)"
      [header]='legend.header'
      [captions]='legend.captions'
      (mouseEvent)='triggerTooltip($event)'
    ></app-charts-legend>
  </div>
</div>
