<h1 mat-dialog-title class="message-dialog__title">{{data.title}}</h1>
<div mat-dialog-content class="message-dialog__content">
  <p [innerHTML]="data.message"></p>
  <div *ngIf="data.error" id="errorDialog" class="message-dialog__error">
    <p><strong>{{data.error.status}}</strong></p>
    <p>{{data.error.message}}</p>
  </div>
</div>
<div mat-dialog-actions class="message-dialog__actions">
  <button id="btnOkDialog" mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>
