<div class="unrelease">
  <form #f="ngForm" (ngSubmit)="search(f)" novalidate class="unrelease__form">
    <mat-form-field appearance="outline" class="unrelease__field">
      <mat-label>Enter a barcode</mat-label>
      <input id="inputBarcode" matInput autocomplete="off" name="barcode" [(ngModel)]="barcode" />
      <button id="btnSearch" type="submit" mat-button matSuffix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <mat-card *ngIf="item && item['barcode']" class="unrelease__details">
    <mat-card-header>
      <mat-card-subtitle>
          Press Unrelease/Release to change the state of the result.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-detail
        [item]="item"
        [loading]="item['loading']"
        (submitEvent)="handleSubmitEvent($event)"
      ></app-detail>
    </mat-card-content>
    <mat-card-actions class="unrelease__actions">
      <button id="btnRelease" mat-button color="primary" type="button" (click)="release(f)">Release</button>
      <button id="btnUnrelease" mat-button color="warn" (click)="unrelease(f)">Unrelease</button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="!loading && notFound" class="unrelease__details">
      <mat-card-content>Not found</mat-card-content>
  </mat-card>
  <mat-progress-bar *ngIf="loading" mode="indeterminate" color="primary"></mat-progress-bar>

</div>
