:host {
  width: 100%;
}

.charts-gauge{
  width: 100%;
  margin: 0px auto;
  &__title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  &__container {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  &__nodata{
    display: block;
    font-size: 2.8em;
    text-align: center;
    padding: 1.4em 0;
    width: 100%;
  }
}