<div class='charts-gauge'>
  <h4 *ngIf="title" class="charts-gauge__title" [innerHTML]="title"></h4>
  <div class='charts-gauge__container'>
    <div class='charts-gauge__chart' *ngIf="!noData">
      <app-charts-gauge-graph
        [data]='sections'
        [total]='total'
        [halfCircle]='halfCircle'
        [tooltipTrigger]='tooltipDispatcher'
      ></app-charts-gauge-graph>
    </div>
  </div>
  <div *ngIf="noData" class="charts-gauge__nodata">No data available</div>
</div>
