<h2 mat-dialog-title>Add scope</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-dialog-content *ngIf="!isLoading">
	<mat-form-field>
		<input type="text" [(ngModel)]="scope" matInput placeholder="Scope" />
	</mat-form-field>
	<mat-form-field>
		<input type="text" [(ngModel)]="scopeDescription" matInput placeholder="Scope description" />
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="handleAddScope()">Add</button>
</mat-dialog-actions>