.charts-line{
  &__title {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  &__container {
    width: 100%;
    margin: 0 auto 20px;
  }
  &__nodata{
    display: block;
    font-size: 2.8em;
    text-align: center;
    padding: 1.4em 0;
    width: 100%;
  }
}