<div>
	<mat-spinner *ngIf="isLoading"></mat-spinner>
	<div *ngIf="!isLoading">
		<div class="grid-container">
			<div class="grid-item" style="padding: 5px;">
				<mat-form-field>
					<input matInput placeholder="Client name" [(ngModel)]="client.clientName" />
				</mat-form-field>
				<mat-form-field>
					<input matInput placeholder="Client identifier" [(ngModel)]="client.clientId" readonly />
				</mat-form-field>
				<mat-form-field>
					<input [type]="showPassword.checked ? 'text': 'password'" matInput placeholder="Client secret" [(ngModel)]="client.clientSecret" readonly />
				</mat-form-field>
				<mat-checkbox color="primary" #showPassword>Show client secret</mat-checkbox>
				<mat-form-field>
					<input matInput placeholder="Client logo" [(ngModel)]="client.clientLogo" />
				</mat-form-field>
			</div>
			<div class="grid-item">
				<mat-form-field>
					<mat-select placeholder="Choose the client type" [(ngModel)]="client.applicationType">
						<mat-option *ngFor="let clientType of clientTypes" [value]="clientType">
							{{clientType}}
						</mat-option>
					</mat-select>
					<mat-hint>Type of client</mat-hint>
				</mat-form-field>
				<mat-form-field>
					<mat-chip-list #redirectUrisChipList>
						<mat-chip *ngFor="let redirectUri of client.redirectUris" 
							selectable="true" removable="true" (removed)="handleRemoveRedirectUri(redirectUri)">
							{{redirectUri}}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<input matInput placeholder="New callback" #callbackInput
			      			[matChipInputFor]="redirectUrisChipList" 
			      			[matChipInputAddOnBlur]="false" (matChipInputTokenEnd)="handleAddCallback($event)" />
					</mat-chip-list>
					<mat-hint>The client callback urls</mat-hint>
				</mat-form-field>
			</div>
		</div>
		<button mat-button>Show advanced settings</button>
		<button mat-button (click)="save()">Save</button>
		<mat-tab-group>
			<mat-tab label="Client grant types">
				<mat-form-field style='width:100%;'>
					<mat-chip-list #grantTypeChipList>						
					    <mat-chip
					      *ngFor="let grantType of client.grantTypes"
					      selectable="true"
					      removable="true"
					      (removed)="handleRemoveGrantType(grantType)">
					      {{grantType}}
							<mat-icon matChipRemove>cancel</mat-icon>
					    </mat-chip>
						<input matInput placeholder="New grant type" 
							#grantTypeInput
							[matAutocomplete]="autoGrantTypes"
			      			[matChipInputFor]="grantTypeChipList" 
			      			[matChipInputAddOnBlur]="false" />
					</mat-chip-list>					
					<mat-autocomplete #autoGrantTypes="matAutocomplete" (optionSelected)="handleAddGrantType($event)">
						<mat-option *ngFor="let supportedGrantType of supportedGrantTypes">
					    	{{supportedGrantType}}
					    </mat-option>
					</mat-autocomplete>
					<mat-hint>List of authorization grant types</mat-hint>	
				</mat-form-field>	
			</mat-tab>
			<mat-tab label="Client OAUTH">
				<mat-form-field style='width:100%;'>
					<mat-select placeholder="Choose JWT signature algorithm" [(ngModel)]="client.idTokenSignedResponseAlg">
						<mat-option *ngFor="let idTokenSigningAlgValueSupported of idTokenSigningAlgValuesSupported" [value]="idTokenSigningAlgValueSupported">
							{{idTokenSigningAlgValueSupported}}
						</mat-option>
					</mat-select>		
				</mat-form-field>
				<mat-form-field style='width:100%;'>
					<mat-select placeholder="Choose token authentication method" [(ngModel)]="client.tokenEndpointAuthMethod">
						<mat-option *ngFor="let tokenEndpointAuthMethodSupported of tokenEndpointAuthMethodsSupported" [value]="tokenEndpointAuthMethodSupported">
							{{tokenEndpointAuthMethodSupported}}
						</mat-option>
					</mat-select>		
				</mat-form-field>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>