.charts-legend {
  width: 100%;
  display: inline-block;
  text-align: center;

  &__header{
    margin: 0;
    padding-bottom: 6px;
    font-size: 0.8rem;
    color: rgba(0,0,0,.33);
  }
  &__list{
    background-color: #f0f0f0;
    width: auto;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 5px;
    text-align: left;
  }
  &__item{
    display: inline-block;
    text-align: left;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 0;
    opacity: 1;
    transition: all 125ms ease-in-out;

    &--clickable {
      cursor: pointer;

      &:hover,
      &:active,
      &:focus {
        background: rgba(255,255,255,.66);
      }
    }
    &--disabled {
      background: rgba(255,255,255,.66);
      & * {
        opacity: .6;
      }

      &:hover,
      &:active,
      &:focus {
        & * {
          opacity: 1;
        }
      }
    }

    &--active {
      background: rgba(0,0,0,.1);
    }
  }
  &__caption {
    color: #444;
    font-size: .8em;
    vertical-align: middle;
  }
  &__badge{
    display: inline-block;
    height: 15px;
    width: 22px;
    margin-right: 2px;
    vertical-align: middle;
    background-color: #a0a0a0;
  }

  /* Columned Legend */
  // &--columns {}
  &--columns &__list{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
  &--columns &__item{
    width: calc(50%);
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &--3columns &__item{
    width: calc(33%);
  }
}