<mat-card>
  <mat-card-content>
    <mat-card-title>Successful Logins</mat-card-title>
    <app-charts-line
    *ngIf="!loading"
    [dataset]='dataset'
    [legend]='legend'
  ></app-charts-line>
  </mat-card-content>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</mat-card>