<mat-card>
  <mat-card-content>
    <mat-card-title>Accounts Creation</mat-card-title>
    <app-charts-line
    *ngIf="!loading"
    [dataset]='dataset'
    [legend]='legend'
    ></app-charts-line>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-card-content>
</mat-card>