<div class="content-wrapper reports-results">
  <mat-card>
    <mat-card-content>
      <div class="reports-results__tabs">
        <nav mat-tab-nav-bar>
          <a mat-tab-link
            routerLinkActive
            [routerLink]="getByResultsRouterLink()"
            #rlaByDevice="routerLinkActive"
            [active]="rlaByDevice.isActive"
            i18n>
            Results
          </a>
          <a mat-tab-link
            routerLinkActive
            [routerLink]="getByInvalidResultsRouterLink()"
            #rlaByOperator="routerLinkActive"
            [active]="rlaByOperator.isActive"
            i18n>
            Invalid Results
          </a>
          <a mat-tab-link
            routerLinkActive
            [routerLink]="getByTotalRouterLink()"
            #rlaByMaterial="routerLinkActive"
            [active]="rlaByMaterial.isActive"
            i18n>
            Total
          </a>
          <a mat-tab-link
            routerLinkActive
            [routerLink]="'/reports/processing-time'"
            #processingTime="routerLinkActive"
            [active]="processingTime.isActive"
            i18n>
            Processing Time
          </a>
          <a mat-tab-link
            routerLinkActive
            [routerLink]="'/reports/qc-data'"
            #qcData="routerLinkActive"
            [active]="qcData.isActive"
            i18n>
            QC Data
          </a>
        </nav>
      </div>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>