app-reports-results {
  width: 100%;
}

.reports-results {

  .mat-card {
    padding: 0px;
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    .mat-tab-nav-bar {
      width: 100%;
    }
    .mat-tab-links {
      justify-content: center;
    }
  }

  .mat-progress-bar {
    width: 60%;
    margin: 24px auto;
  }
}