<div class='charts-pie'>
  <h4 *ngIf="title" class="charts-pie__title" [innerHTML]="title"></h4>
  <div class='charts-pie__container' *ngIf="!noData">
    <app-charts-pie-graph
      [data]='data'
      [isDonut]='isDonut'
      [tooltipTrigger]='tooltipDispatcher'
    ></app-charts-pie-graph>
  </div>
  <div class='charts-pie__legend' *ngIf="!noData">
    <app-charts-legend
      [header]='legend.header'
      [captions]='legend.captions'
      [inColumns]='legendInColumns'
      (mouseEvent)='triggerTooltip($event)'
    ></app-charts-legend>
  </div>
  <div *ngIf="noData" class="charts-pie__nodata">No data available</div>
</div>
