<div>	
	<mat-spinner *ngIf="isLoading"></mat-spinner>
	<div *ngIf="!isLoading">	
		<table mat-table [dataSource]="dataSource" style='width:100%'>
			<ng-container matColumnDef="isChecked">
		    	<th mat-header-cell *matHeaderCellDef></th>
		    	<td mat-cell *matCellDef="let element">
		    		<mat-checkbox color="primary" [(ngModel)]="element.isChecked"></mat-checkbox>
		    	</td>
		  	</ng-container>
			<ng-container matColumnDef="name">
		    	<th mat-header-cell *matHeaderCellDef>Scope name</th>
		    	<td mat-cell *matCellDef="let element">
		    		{{element.name}}
		    	</td>
		  	</ng-container>
			<ng-container matColumnDef="type">
		    	<th mat-header-cell *matHeaderCellDef>Scope type</th>
		    	<td mat-cell *matCellDef="let element">
		    		{{element.type}}
		    	</td>
		  	</ng-container>
			<ng-container matColumnDef="update_datetime">
		    	<th mat-header-cell *matHeaderCellDef>Update datetime</th>
		    	<td mat-cell *matCellDef="let element">
		    		{{element.update_datetime}}
		    	</td>
		  	</ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<button mat-button (click)="save()">Save</button>
	</div>
</div>