<div class="graph-relative">
  <mat-table [dataSource]="data" *ngIf="!loading">
    <ng-container matColumnDef="numberOfResults">
      <mat-header-cell *matHeaderCellDef> Number of results </mat-header-cell>
      <mat-cell *matCellDef="let result"> {{result.numberOfResults}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="percentage">
      <mat-header-cell *matHeaderCellDef> Percentage </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.percentage}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="percentageTotal">
      <mat-header-cell *matHeaderCellDef> Percentage Total </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.percentageTotal}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="remark">
      <mat-header-cell *matHeaderCellDef> Remark </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.remark}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
<div class="legend">
  <app-show-views class="footer"></app-show-views>
</div>
