@import '../../../../../../assets/styles/text';

.legend {
    background-color: $color-default-hover;

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;

      .icon {
        font-size: 26px;
      }
      span {
        margin-right: 12px;
      }
    }

    .footer {
      height: 48px;
      background-color: transparent;
      margin: 0 0 0 auto;
    }
  }
  .slide-wrapper, .legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
  }