@import '../../../../../assets/styles/colors';

.playground {
  margin: 20px auto;

  &__icons {
    list-style: none;
    padding: 0; margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: flex-start;

    li {
      font-size: 12px;
      padding: 10px;
      margin: 10px;
      text-align: center;
      background: #f0f0f0;

      &:last-child {
        margin-right: auto;
      }
    }

    app-svg-icon {
      color: $color-royal-blue;
      height: 128px;
      width: 128px;
      border: solid 1px #d0d0d0;
      border-radius: 2px;
      margin-top: 5px;
      background: white;
    }
  }
}