<div class="content-wrapper">
  <mat-card class="playground">
    <mat-card-title>Icon Repository</mat-card-title>
    <ul class="playground__icons">
      <li>ROCHE<app-svg-icon svgIcon="ROCHE"></app-svg-icon></li>
      <li>REPORTS<app-svg-icon svgIcon="REPORTS"></app-svg-icon></li>
      <li>USER_GROUP<app-svg-icon svgIcon="USER_GROUP"></app-svg-icon></li>
      <li>QC<app-svg-icon svgIcon="QC"></app-svg-icon></li>
      <li>CERTIFICATION<app-svg-icon svgIcon="CERTIFICATION"></app-svg-icon></li>
      <li>POC_DEVICES<app-svg-icon svgIcon="POC_DEVICES"></app-svg-icon></li>
      <li>BLOODGAS<app-svg-icon svgIcon="BLOODGAS"></app-svg-icon></li>
      <li>CARDIAC<app-svg-icon svgIcon="CARDIAC"></app-svg-icon></li>
      <li>COAGULATION<app-svg-icon svgIcon="COAGULATION"></app-svg-icon></li>
      <li>GLUCOSE<app-svg-icon svgIcon="GLUCOSE"></app-svg-icon></li>
      <li>HEMATOLOGY<app-svg-icon svgIcon="HEMATOLOGY"></app-svg-icon></li>
      <li>MISCELLANEOUS<app-svg-icon svgIcon="MISCELLANEOUS"></app-svg-icon></li>
      <li>MOLECULAR<app-svg-icon svgIcon="MOLECULAR"></app-svg-icon></li>
      <li>URINALYSIS<app-svg-icon svgIcon="URINALYSIS"></app-svg-icon></li>
      <li>REPORT<app-svg-icon svgIcon="REPORT"></app-svg-icon></li>
      <li>PRINT<app-svg-icon svgIcon="PRINT"></app-svg-icon></li>
      <li>PDF_FILE<app-svg-icon svgIcon="PDF_FILE"></app-svg-icon></li>
      <li>EXCEL_FILE<app-svg-icon svgIcon="EXCEL_FILE"></app-svg-icon></li>
      <li>PROCESS_PLANNED<app-svg-icon svgIcon="PROCESS_PLANNED"></app-svg-icon></li>
      <li>PROCESS_IN_PROGRESS<app-svg-icon svgIcon="PROCESS_IN_PROGRESS"></app-svg-icon></li>
      <li>PROCESS_ENDED<app-svg-icon svgIcon="PROCESS_ENDED"></app-svg-icon></li>
      <li>ROCHELOGO<app-svg-icon svgIcon="ROCHELOGO"></app-svg-icon></li>
      <li>ERROR<app-svg-icon svgIcon="ERROR"></app-svg-icon></li>
      <li>QUESTION<app-svg-icon svgIcon="QUESTION"></app-svg-icon></li>
      <li>INFO<app-svg-icon svgIcon="INFO"></app-svg-icon></li>
      <li>OVERVIEW<app-svg-icon svgIcon="OVERVIEW"></app-svg-icon></li>
      <li>LIST<app-svg-icon svgIcon="LIST"></app-svg-icon></li>
      <li>HOME<app-svg-icon svgIcon="HOME"></app-svg-icon></li>
      <li>SWITCHER<app-svg-icon svgIcon="SWITCHER"></app-svg-icon></li>
      <li>YES<app-svg-icon svgIcon="YES"></app-svg-icon></li>
      <li>CLOSE_EXIT<app-svg-icon svgIcon="CLOSE_EXIT"></app-svg-icon></li>
      <li>ARROW_UP_IN<app-svg-icon svgIcon="ARROW_UP_IN"></app-svg-icon></li>
      <li>ARROW_DOWN_OUT<app-svg-icon svgIcon="ARROW_DOWN_OUT"></app-svg-icon></li>
      <li>MATCH_ICON<app-svg-icon svgIcon="MATCH_ICON"></app-svg-icon></li>
      <li>ZOOM_OUT<app-svg-icon svgIcon="ZOOM_OUT"></app-svg-icon></li>
      <li>ZOOM_IN<app-svg-icon svgIcon="ZOOM_IN"></app-svg-icon></li>
      <li>SEARCH<app-svg-icon svgIcon="SEARCH"></app-svg-icon></li>
      <li>CREATE<app-svg-icon svgIcon="CREATE"></app-svg-icon></li>
      <li>SINGLE_USER<app-svg-icon svgIcon="SINGLE_USER"></app-svg-icon></li>
      <li>SHOW<app-svg-icon svgIcon="SHOW"></app-svg-icon></li>
      <li>HIDE<app-svg-icon svgIcon="HIDE"></app-svg-icon></li>
      <li>COLUMN_RIGHT_NEXT_STEP<app-svg-icon svgIcon="COLUMN_RIGHT_NEXT_STEP"></app-svg-icon></li>
      <li>LOCK<app-svg-icon svgIcon="LOCK"></app-svg-icon></li>
      <li>FULL_SCREEN_MODE<app-svg-icon svgIcon="FULL_SCREEN_MODE"></app-svg-icon></li>
      <li>EXIT_FULL_SCREEN_MODE<app-svg-icon svgIcon="EXIT_FULL_SCREEN_MODE"></app-svg-icon></li>
      <li>CONNECTED<app-svg-icon svgIcon="CONNECTED"></app-svg-icon></li>
      <li>DISCONNECTED<app-svg-icon svgIcon="DISCONNECTED"></app-svg-icon></li>
      <li>MATERIALS<app-svg-icon svgIcon="MATERIALS"></app-svg-icon></li>
      <li>BARCODE<app-svg-icon svgIcon="BARCODE"></app-svg-icon></li>
      <li>CAUTION_WARNING<app-svg-icon svgIcon="CAUTION_WARNING"></app-svg-icon></li>
      <li>CAUTION_DANGER<app-svg-icon svgIcon="CAUTION_DANGER"></app-svg-icon></li>
      <li>CREATE_DOCUMENT<app-svg-icon svgIcon="CREATE_DOCUMENT"></app-svg-icon></li>
      <li>BIOCHEMISTRY<app-svg-icon svgIcon="BIOCHEMISTRY"></app-svg-icon></li>
      <li>ACCCUCHEK<app-svg-icon svgIcon="ACCCUCHEK"></app-svg-icon></li>
      <li>ACCUTREND<app-svg-icon svgIcon="ACCUTREND"></app-svg-icon></li>
      <li>COAGUCHECK<app-svg-icon svgIcon="COAGUCHECK"></app-svg-icon></li>
      <li>COBASB101<app-svg-icon svgIcon="COBASB101"></app-svg-icon></li>
      <li>COBASB121<app-svg-icon svgIcon="COBASB121"></app-svg-icon></li>
      <li>COBASB123<app-svg-icon svgIcon="COBASB123"></app-svg-icon></li>
      <li>COBASB221<app-svg-icon svgIcon="COBASB221"></app-svg-icon></li>
      <li>COBASB232<app-svg-icon svgIcon="COBASB232"></app-svg-icon></li>
      <li>COBASLIAT<app-svg-icon svgIcon="COBASLIAT"></app-svg-icon></li>
      <li>GENERIC<app-svg-icon svgIcon="GENERIC"></app-svg-icon></li>
      <li>URISYS<app-svg-icon svgIcon="URISYS"></app-svg-icon></li>
      <li>MORE_THAN<app-svg-icon svgIcon="MORE_THAN"></app-svg-icon></li>
      <li>QC_WARNING<app-svg-icon svgIcon="QC_WARNING"></app-svg-icon></li>
    </ul>
  </mat-card>
</div>