<div class="qc-data">
  <div class="qc-data__chart" *ngIf="!loading">
    <app-chartslevey-jennings
      [controlLimit]="dataset.controlLimit"
      [controlMean]="dataset.controlMean"
      [legend]="legend"
      [standardDeviation]="dataset.standardDeviation"
      [title]="dataset.title"
      [data]='dataset.data'
      [xAxisLabel]="dataset.xAxisLabel"
      [yAxisLabel]="dataset.yAxisLabel"
    ></app-chartslevey-jennings>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>