<ul class="playground">
  <li><app-pg-gauge-chart></app-pg-gauge-chart></li>
  <li><app-pg-line-chart></app-pg-line-chart></li>
  <li><app-pg-pie-chart></app-pg-pie-chart></li>
  <li><app-pg-levey-jennings></app-pg-levey-jennings></li>
  <li><app-pg-cigarette-chart></app-pg-cigarette-chart></li>
</ul>