<div class="list">
  <div class="list__header">
    <div class="list__select-all">
      <mat-checkbox color="primary" id="checkboxSelectAll"
        [ngModel]="selectAll"
        (ngModelChange)="toggleSelectAll($event)"
        [(checked)]="selectAll"
        [(indeterminate)]="selectAllIndeterminate"
        ><span >{{selection}} items selected</span></mat-checkbox>
        <button mat-button color="accent" id="btnReleaseSelectedBarcodes" *ngIf="selection" (click)="releaseSelection()">Release {{selection}} items</button>
    </div>
    <button id="txtPageNumber" mat-button disabled class="list__current-page">Page {{ page }}</button>
    <div class="list__search">
      <mat-form-field [floatLabel]="'never'" appearance="standard">
        <mat-label>Filter list</mat-label>
        <input
          id="inputFilter"
          matInput
          placeholder="Insert barcode"
          name="barcode"
          [(ngModel)]="barcode"
          (ngModelChange)="filterList($event)"
          autocomplete="off">
        <button mat-button *ngIf="barcode" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-accordion>
    <ng-template ngFor let-item [ngForOf]="list" let-i="index">
      <mat-expansion-panel class="list__item" [ngClass]="{ 'list__item--selected': item.selected }" [disabled]="loading">
        <mat-expansion-panel-header class="list__item__header">
          <mat-panel-title class="list__item__title">
            <mat-checkbox color="primary"
              class="list__item__checkbox"
              (change)="toggleSelection(item, i)"
              [checked]="item.selected"
              [disabled]="loading"
            >{{item.barcode}}</mat-checkbox>
          </mat-panel-title>
          <mat-panel-description class="list__item__description">
            {{item.resultReleased}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-detail
          [item]="item"
          [index]="i"
          [loading]="item.loading"
          (submitEvent)="handleSubmitEvent($event)"
        ></app-detail>
        <mat-action-row class="list__item__action">
          <div>
            <button id="btnRelease" mat-button color="primary" (click)="release([item])" [disabled]="loading">Release</button>
            <mat-progress-bar *ngIf="loading" mode="indeterminate" color="primary" ></mat-progress-bar>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-template>
  </mat-accordion>
  <div class="list__nodata" *ngIf="!loading && !list.length">
    <mat-card mat-elevation-z2>
      <mat-card-content >No results to show</mat-card-content>
    </mat-card>
  </div>
  <div class="list__footer" *ngIf="!(loading || (noData && page===1))">
    <button
      id="btnPrevious"
      class="list__previous-page"
      mat-button
      color="primary"
      *ngIf="!loading"
      [disabled]="page===1"
      (click)="previousPage()"
      >Previous</button>
    <button id="txtPageNumber" mat-button disabled class="list__current-page">Page {{ page }}</button>
    <button
      mat-button
      id="btnNext"
      class="list__next-page"
      color="primary"
      *ngIf="!loading"
      [disabled]="(page > 1 && noData) || (list.length < pagesize)"
      (click)="nextPage()"
      >Next</button>
  </div>
  <div class="list__release-button" *ngIf="selection || barcode">
    <button id="btnReleaseSelection" *ngIf="selection" mat-raised-button color="accent" (click)="releaseSelection()">Release {{selection}} items</button>
    <button id="btnClearFilter" *ngIf="barcode" mat-raised-button large-button color="warn" (click)="clearFilter()">Clear filter</button>
  </div>
  <div class="list__release-button">
  </div>
</div>