@import './../../../../../assets/styles/_colors';

.list {
  margin: 0px auto 40px;

  &__header{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__select-all{
    flex: 1 1 auto;
    padding: 0 24px;
    span {
      margin-left: 10px;
    }
    .mat-checkbox {
      margin-right: 10px;
    }
  }

  &__current-page {
    margin: 0 auto;
  }

  &__search{
    flex: 1 0 auto;
    align-self: flex-end;
    text-align: right;
    font-size: 1rem;
    padding: 0 24px;

    .mat-form-field{
      width: 30%;
      min-width: 200px;
      margin: 0 auto;
      padding-top: 0;
      text-align: left;
    }
  }

  &__item{
    &__header{
      background-color: transparent;
      transition: background-color .125s ease-in-out;
    }
    &--selected &__header{
      background-color: lighten($color-selected-blue, 55);
    }
    &__title {
      width: 50%;
    }
    &__description {
      width: 100%;
    }
    &__action {
      align-items: center;
      button {
        margin-left: 0;
      }
    }
  }

  &__release-button {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    button {
      margin: 5px;
    }
  }
  &__footer{
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  &__previous-page {
    margin-right: auto;
  }
  &__next-page {
    margin-left: auto;
  }

  &__nodata {
    text-align: center;
    background: rgba(white, .6);

    .mat-card-content {
      font-weight: 400;
      font-size: 1.5em;
      color: rgba(black, .33);
    }
  }
}