@import '../../../../../../assets/styles/text';

app-reports-form-filter-devices {

  .device-radio-group {
    display: inline-flex;
    flex-direction: row;
  }

  .device-radio-button {
    margin: 36px;
  }

  .device-selected-value {
    margin: 36px 0;
  }
}
