<mat-radio-group class="device-radio-group" (change)="onRadioChange($event.value);" [(ngModel)]="selectedDevice">
  <mat-radio-button class="device-radio-button" color="primary" *ngFor="let device of devices$ | async" [value]="device">
    {{device.DeviceType}}
  </mat-radio-button>
</mat-radio-group>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
