@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/text';

:host {
  width: 100%;
}

.login {

  width: auto;
  min-width: initial;
  padding: 2em 3.5em;

  &__bg {
    background-image: url("https://images.unsplash.com/photo-1491299461284-6aa083937f71?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bfdae99c038ff0388856b0b94473e831&auto=format&fit=crop&w=1350&q=80");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__title{
    font-size: $fs-huge;
    color: $color-black;
  }
  &__button {
    width: 90%;
  }
  &__logo{
    width: 120px;
    margin: 1rem;
    color: $color-royal-blue;
  }
  &__loading.mat-progress-bar {
    margin: 24px auto !important;
  }
  &__version {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: $color-white;
    font-weight: 200;
    margin: .5em;
  }
  &__environment {
    display: inline-block;
    color: rgba(51, 51, 51, .5);
    font-weight: 400;
    font-size: 12px;
    border-radius: 8px;
    padding: 0 5px;
    &--dev {
      background-color: chartreuse;
    }
    &--test {
      background-color: orange;
    }
  }
}