<div class="login__bg">
  <mat-card class="login">
    <app-svg-icon svgIcon="ROCHE" class="login__logo"></app-svg-icon>
    <mat-card-title class="login__title" i18n>Dashboard</mat-card-title>
    <mat-card-content>
      <button *ngIf="!loading" mat-raised-button color="primary" class="login__button" (click)="logIn()">Login</button>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"class="login__loading" ></mat-progress-bar>
    </mat-card-content>
  </mat-card>
  <div class="login__version" *ngIf="!isProduction">
    ver. {{ version }}
    <span class="login__environment login__environment--{{envName}}">{{ envName }}</span>
  </div>
</div>