<mat-card>
	<mat-card-title>
		Scope information
	</mat-card-title>
	<mat-spinner *ngIf="isLoading"></mat-spinner>
	<div *ngIf="!isLoading">
		<div class="grid-container">
			<div class="grid-item" style="padding: 5px;">
				<mat-form-field>
					<input matInput placeholder="Scope name" [(ngModel)]="scope.scopeName" readonly />
				</mat-form-field>
				<mat-form-field>
					<input matInput placeholder="Scope description" [(ngModel)]="scope.scopeDescription" readonly />
				</mat-form-field>
			</div>
			<div class="grid-item" style="padding: 5px;">
				<mat-form-field>
					<input matInput placeholder="Scope type" [(ngModel)]="scope.scopeType" readonly />
				</mat-form-field>				
				<mat-form-field>
					<mat-chip-list #redirectUrisChipList>
						<mat-chip *ngFor="let claim of scope.claims" selectable="true" >
							{{claim}}
						</mat-chip>
					</mat-chip-list>
					<mat-hint>The claims</mat-hint>
				</mat-form-field>
			</div>
		</div>
	</div>
</mat-card>