<div class="sites-table" *ngIf="!loading">
  <app-paged-table [dataSource]="sites$" [class.expand]="expand">
    <tr *pagedTableHeader>
      <th class="column-checkbox">
        <mat-checkbox color="primary" (change)="$event ? checkBoxGroup.toggleAll() : null" [checked]="checkBoxGroup.isAllSelected()"
          [indeterminate]="checkBoxGroup.isNotAllSelected()">
        </mat-checkbox>
      </th>
      <th>Select site</th>
    </tr>

    <tr *pagedTableItem="let item" (click)="checkBoxGroup.toggle(item)" class="row" [class.selected]="checkBoxGroup.isSelected(item)">
      <td class="column-checkbox">
        <mat-checkbox color="primary" (click)="$event.stopPropagation();" (change)="$event ? checkBoxGroup.toggle(item) : null"
          [checked]="checkBoxGroup.isSelected(item)"></mat-checkbox>
      </td>
      <td>
        <span [innerHTML]="item.Name"></span>
      </td>
    </tr>
  </app-paged-table>
</div>
<mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>