@import '../../../../../../assets/styles/text';

app-reports-form-filter-sites {

  .device-radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  
  .device-radio-button {
    margin: 36px;
  }
  
  .device-selected-value {
    margin: 36px 0;
  }

  .sites-table {
    width: 100%;
    padding: 0 1% 2%;
    box-sizing: border-box;
  }

  .app-paged-table {
    position: relative;
    height: 100%;

    .table-container {
      height: 100%;
      background-color: $color-snow;
    }

    .row {
      background-color: $color-white;
      cursor: pointer;

      &.selected {
        background-color: $color-default-active;
      }

      &:hover {
        background-color: $color-default-hover;
      }
    }

    .column-checkbox {
      width: 30px !important;
    }

    // &.expand {}

    .table-empty {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .fetching {
      width: 100%;
      top: 18px;
    }

    .highlight-match {
      font-weight: $fw-medium;
      color: #0066CC;
    }
  }
}
