<mat-toolbar class="header mat-elevation-z4" *ngIf='isLoggedIn$ | async'>
  <app-svg-icon svgIcon="ROCHE" class="header__logo"></app-svg-icon>
  <h1 class="header__title" i18n>Dashboard</h1>
  <span class="flex-spacer"></span>
  <button class="header__logout" mat-button color="primary" (click)="logOut()" i18n>Logout</button>
</mat-toolbar>