@import "../../../assets/styles/colors";
@import "../../../assets/styles/text";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: $color-white;
  padding-left: 12px;
  padding-right: 12px;
  height: 56px;
  &__title {
    color: $color-black;
    font-weight: normal;
    font-size: $fs-bigger;
  }
  &__logo {
    margin: 0 16px;
    height: 28px;
    width: 56px;
    color: $color-royal-blue;
  }
  &__logout {
    position: absolute;
    right: 12px;
  }
}
