<div class="content-wrapper">
  <mat-card class="playground">
    <mat-card-title>Processing Time</mat-card-title>
    <div class="playground__chart">
      <app-charts-cigarette
        [legend]='dataset["legend"]'
        [data]='dataset["data"]'
        [xAxisLabel]='dataset["xAxisLabel"]'
      ></app-charts-cigarette>
    </div>
  </mat-card>
</div>