<h2 mat-dialog-title>Add claim</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-dialog-content *ngIf="!isLoading">
	<mat-form-field>
		<input type="text" [(ngModel)]="claimCode" matInput placeholder="Claim code" />
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="handleAddClaim()">Add</button>
</mat-dialog-actions>