@import '../../../../assets/styles/text';

.app-paged-table {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .table-container {
    overflow: auto;

    table {
      width: max-content;
      min-width: 100%;

      tbody {
        tr:hover {
          background: rgba(0, 0, 0, .04);
          background-color: $color-azure-white;
        }
      }

      th, td {
        text-align: left;
        border-bottom: solid 1px $color-light-gray;
        width: max-content;
        white-space: nowrap; // IE11
        height: 47px;
        font-size: 14px;
        padding-left: 24px;
        overflow: hidden;

        &:last-child {
          padding-right: 24px;
        }
      }

      th {
        background-color: #EEEEEE;
        font-weight: $fw-medium;
        color: rgba(0, 0, 0, .54);
      }

      td {
        font-weight: $fw-regular;
        color: rgba(0, 0, 0, .87);
      }
    }
  }

  .fetching {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
  }

  .empty {
    height: auto;
  }
}
