<ng-container>
  <div *ngIf="dataSource | async as items"
      #container
      class="table-container"
      data-test-id="list">
    <table #content>
      <thead>
        <ng-container *ngTemplateOutlet="headerTemplate">
        </ng-container>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of items">
          <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }">
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>
