@import '../../../../../../assets/styles/colors';
@import '../../../../../../assets/styles/text';

app-reports-form-filter-test-types {

  .test-types-criteria-panel{
      display: flex; /* or inline-flex */
      flex-direction: row ;
      flex-wrap: wrap;
  }

  .test-types-table {
    width: 33.33%;
    padding: 0 1% 2%;
    box-sizing: border-box;
  }

  .app-search {
    display: flex;
  }

  .app-paged-table {
    position: relative;
    height: 100%;

    .table-container {
      height: 100%;
      margin: 0 1% 2%;
      background-color: $color-snow;
    }

    .row {
      background-color: $color-white;
      cursor: pointer;

      &.selected {
        background-color: $color-default-active;
      }

      &:hover {
        background-color: $color-default-hover;
      }
    }
    // &.expand {}


    .column-checkbox {
      width: 30px !important;
    }

    .table-empty {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .fetching {
      width: 100%;
      top: 18px;
    }

    .highlight-match {
      font-weight: $fw-medium;
      color: #0066CC;
    }
  }
}
