<div class="test-types-criteria-panel"  *ngIf="!loading">
  <div class="test-types-table" *ngFor="let item of testTypesCriteria | async">
    <app-paged-table [dataSource]="item.dataSource" [class.expand]="expand">
      <tr *pagedTableHeader>
        <th class="column-checkbox">
          <mat-checkbox color="primary" (change)="$event ? item.checkBoxGroup.toggleAll() : null" [checked]="item.checkBoxGroup.isAllSelected()"
            [indeterminate]="item.checkBoxGroup.isNotAllSelected()">
          </mat-checkbox>
        </th>
        <th>{{item.testTypeCategory}}</th>
      </tr>

      <tr *pagedTableItem="let testType" (click)="item.checkBoxGroup.toggle(testType)" class="row" [class.selected]="item.checkBoxGroup.isSelected(testType)">
        <td class="column-checkbox">
          <mat-checkbox color="primary" (click)="$event.stopPropagation();" (change)="$event ? item.checkBoxGroup.toggle(testType) : null"
            [checked]="item.checkBoxGroup.isSelected(testType)"></mat-checkbox>
        </td>
        <td>
          <span [innerHTML]="testType.testName"></span>
        </td>
      </tr>
    </app-paged-table>
  </div>
</div>
<mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>
